<div >
  <div class="panel panel-default" >
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">Lista de Veículos </span></div>
    
    <div class="panel-body" >
        <div class="table-responsive" ng-controller="getcontroller">
                <button id="btn-id" type="button" class="btn btn-primary" ng-click="getfunction()">Listar Veículos</button>
                <ul>
            <table   class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>MARCA</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in response">
                    <td>{{user.id}}</td>
                    <td>{{user.marca}}</td>

                    <td>
                        <button class="btn btn-success btn-sm" ng-click="editUser(user)">Edit</button>
                        <button class="btn btn-danger btn-sm" ng-click="deleteUser(user)">Delete</button>
                      </td>
                </tr>
                </tbody>
            </table>   
            <div ng-if="restMessage!==undefined">
                <div class="alert alert-info alert-dismissable"  ng-if="!error">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                      {{restMessage}}
                </div>
                <div class="alert alert-danger alert-dismissable"  ng-if="error">
                    <a class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{restMessage}}
                </div>
            </div>
            </ul>   
        </div>
    </div>
</div>
</div>